
$border-radius-button: 8px;
$spacing-padding-button: 8px;
$color-background-button: rgb(36, 79, 88);
$color-background-button-shadow: rgb(26, 57, 63);
$color-text-button: rgb(239, 234, 229);
$font-size-button: 15px;
$spacing-button-padding: 18px;
