$border-radius-small: 3px;
$border-radius-medium: 5px;
$border-radius-large: 8px;
$border-radius-circle: 50%;
$color-border-separator: rgb(245, 246, 247);
$color-border: rgb(245, 246, 247);
$font-size-xx-small: 10px;
$font-size-x-small: 13px;
$font-size-small: 14px;
$font-size-medium: 15px;
$font-size-large: 16px;
$font-size-x-large: 18px;
$font-size-xx-large: 22px;
$spacing-xx-small: 2px;
$spacing-x-small: 7px;
$spacing-small: 8px;
$spacing-medium: 14px;
$spacing-large: 18px;
$spacing-x-large: 28px;
$color-text: rgb(104, 108, 112);
$color-text-alt: rgb(72, 92, 112);
$color-button-background: rgb(104, 108, 112);
$color-button-text: rgb(72, 92, 112);
// Some comment about how to use it.
$color-brand: rgb(159, 170, 181);